
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>新讨论课</title>
    <link href="../../css/Teacher/content.css" rel="stylesheet" type="text/css" />
   
</head>
<body>
    <div class="top">
        <div class="font">
            课堂管理系统
        </div>
        <div class="icon">
            <img src=".\home.png">首页
            <img src=".\help.png">帮助
            <img src=".\exit.png">退出
        </div>
        <div class="clear"></div>
    </div>
    <div class="body">
        
        <div class="navigation">
            <div class="courseName" id="courseName"></div>
            <div class="line"></div>
            <div class="courseIntroduction" id="courseIntroduction"></div>
        </div>
        <div class="content">
            <div class="classInfo">
                <div class="title" id="Title"></div>
                <div class="returnButton" id="returnbtn">返回上一页</div>
                <div class="line"></div>
                <div class="itemBody">
                    <div class="item">
                        <label class="itemName">讨论课名称:</label>
                        <label class="itemName" id="seName"></label>
                        <input type="text" id="inputName" style="display:none" />
                    </div>
                    <div class="item">
                        <label class="itemName">讨论课说明:</label>
                        <label class="itemName" id="seDescription"></label>
                        <input type="text" id="inputDescription" style="display:none" />
                    </div>
                    <div class="item">
                        <label class="itemName">分 组 方 式:</label>
                        <label class="itemName" id="seGroupingMethod"></label>
                        <input type="text" id="inputGroupingMethod" style="display:none" />
                    </div>
                    <div class="item">
                        <label class="itemName">开 始 时 间:</label>
                        <label class="itemName" id="seStartTime"></label>
                        <input type="text" id="inputStartTime" style="display:none" />
                    </div>
                    <div class="item">
                        <label class="itemName">结 束 时 间:</label>
                        <label class="itemName" id="seEndTime"></label>
                        <input type="text" id="inputEndTime" style="display:none" />
                    </div>

                    <div class="item">
                        <button class="leftButton" id="score">评分</button>
                        <button class="middleButton" id="up_sub" onclick="update_submit()">修改</button>
                        <button class="rightButton" id="delete">删除讨论课</button>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="seminarInfo">
                <div class="title">Topic</div>
                <div class="line"></div>
                <br><br />
                <div class="topicBlockBody" style="margin-left: 5%" id="topicButton">
                    
                </div>
            </div>

        </div>

        <div class="clear"></div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var courseId = window.location.href.split("=")[1];//当前课程id
            var seminarId = window.location.href.split("=")[2];
            var seminarNO = window.location.href.split("=")[3];

            //返回上一页按钮
            var returnbtn = document.getElementById('returnbtn');
            returnbtn.onclick = function () {
                window.history.go(-1);
            }; 
            $('#Title').text("讨论课"+seminarNO);

            //初始化   左侧
            $.ajax({
                type: 'GET',
                url: '/course/' + courseId,
                contentType: "application/json;charset=utf-8",
                success: function (data, status) {

                    $('#courseName').text(data.name);
                    $('#courseIntroduction').text(data.description);
                }
            });

            
            //document.write("xxxx");
            $.ajax({
                type: 'GET',
                url: '/seminar/' + seminarId,
                contentType: "application/json;charset=utf-8",
                success: function (data, status) {

                    $('#seName').text(data.name);
                    $('#seDescription').text(data.description);
                    $('#seGroupingMethod').text(data.groupingMethod);
                    $('#seStartTime').text(data.startTime);
                    $('#seEndTime').text(data.endTime);

                    var afterSeminar = 0;                        //判断当前讨论课是否过期 未解决
                    //var myDate = new Date();;     //获取当前时间
                    //var endDay = data.endTime.split("/")[1];
                    //var endMon = data.endTime.split("/")[2];
                    //var endYear = data.endTime.split("/")[3];
                    //if (myDate.getFullYear().toString() > endYear || (myDate.getFullYear().toString() == endYear && myDate.getMonth().toString() + 1 > endMon) || (myDate.getFullYear().toString() == endYear && myDate.getMonth().toString() + 1 == endMon && myDate.getDate().toString() > endDay)) afterSeminar = 1;
                    //alert(afterSeminar);


                    for (var i = 0; i < data.topics.length; i++) {

                        var url = "/Teacher/CheckTopic?index=" + courseId + "=" + data.topics[i].id + "=" + afterSeminar;  //传递话题id
                        $('#topicButton').append("<div class='topicBlock' onClick=(window.location.href='" + url + "')><div class='topicBlockFont'>话题" + data.topics[i].serial + "</div></div>");
                    }
                    $('#topicButton').append("<div class='topicBlock' id='add' onClick=(window.location.href='/Teacher/CreateTopic?index=" + courseId + "=" + seminarId +"')><img src='../../Img / add.png' width='110' height='110'></div>");
                }
            });
        })
    </script>
    <script type="text/javascript">
        $('#delete').click(function () {
            var courseId = window.location.href.split("=")[1];//当前课程id
            var seminarId = window.location.href.split("=")[2];
            $.ajax({
                type: "DELETE",
                url: "/seminar/" + seminarId,
                success: function (data) {
                    alert("删除讨论课操作成功！");
                    window.history.back();
                }
                //error: function (err) {
                //    alert(err);
                //}
            });
        });
            $("#score").click(function () {
                var courseId = window.location.href.split("=")[1];//当前课程id
                var seminarId = window.location.href.split("=")[2];
                var url = "/Teacher/TeacherScoreHome?index=" + courseId+"=" + seminarId;
                window.location.href = url;
        });


            //$("#edit").click(function () {
            //    //document.write("edit");//-----------
            //    var index = "1";
            //    var url = "/Teacher/TeacherEditSeminarPage?index=" + index;
            //    window.location.href = url;
            //});
            //$("#add").click(function () {
            //    document.write("add");//---------------
            //    var index = "1";
            //    var url = "/Teacher/CreateTopic?index=" + index;
            //    window.location.href = url;
            //});
    </script>

    <script type="text/javascript">
            function update_submit() {
                var seminarId = window.location.href.split("=")[1];//当前讨论课号
                if ($("#up_sub").text() == "修改") {
                    var seminarInfo = {
                        Name: $("#seName").text(),
                        Description: $("#seDescription").text(),
                        GroupingMethod: $("#seGroupingMethod").text(),
                        StartTime: $("#seStartTime").text(),
                        EndTime: $("#seEndTime").text()
                    };
                    $("[id^='se']").hide();
                    $("[id^='input']").show();
                    $("#up_sub").text("提交");

                    $("#inputName").val(seminarInfo.Name);
                    $("#inputDescription").val(seminarInfo.Description);
                    $("#inputGroupingMethod").val(seminarInfo.GroupingMethod);
                    $("#inputStartTime").val(seminarInfo.StartTime);
                    $("#inputEndTime").val(seminarInfo.EndTime);

                }
                else {
                    var seminarInfo = {
                        Name: $("#inputName").val(),
                        Description: $("#inputDescription").val(),
                        GroupingMethod: $("#inputGroupingMethod").val(),
                        StartTime: $("#inputStartTime").val(),
                        EndTime: $("#inputEndTime").val()

                    };

                    $.ajax({

                        url: "/seminar/" + seminarId,
                        type: "PUT",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(seminarInfo),
                        success: function (data, status) {//如果controller写了topic put方法则可以交换这里上下的注释部分---------------
                            $("[id^='input']").hide();
                            $("[id^='se']").show();
                            $("#up_sub").text("修改");

                            $("#seName").text(seminarInfo.Name);
                            $("#seDescription").text(seminarInfo.Description);
                            $("#seGroupingMethod").text(seminarInfo.GroupingMethod);
                            $("#seStartTime").text(seminarInfo.StartTime);
                            $("#seEndTime").text(seminarInfo.EndTime);
                        }
                        //error:
                    });
                    $("[id^='input']").hide();
                    $("[id^='se']").show();
                    $("#up_sub").text("修改");

                    $("#seName").text(seminarInfo.Name);
                    $("#seDescription").text(seminarInfo.Description);
                    $("#seGroupingMethod").text(seminarInfo.GroupingMethod);
                    $("#seStartTime").text(seminarInfo.StartTime);
                    $("#seEndTime").text(seminarInfo.EndTime);
                }//else end

            }//修改/确认点击结束
    </script>

</body>
</html>

