
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>创建话题</title>
    <link href="../../css/Teacher/content.css" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <script>
        $(document).ready(function () {

            var courseId = window.location.href.split("=")[1];//当前课程id
            var seminarId = window.location.href.split("=")[2];

            //返回上一页按钮
            var returnbtn = document.getElementById('returnbtn');
            returnbtn.onclick = function () {
                window.history.go(-1);
            };


            //初始化   左侧
            $.ajax({
                type: 'GET',
                url: '/course/' + courseId,
                contentType: "application/json;charset=utf-8",
                success: function (data, status) {

                    $('#courseName').text(data.name);
                    $('#courseIntroduction').text(data.description);
                }
            });



        $("#post").click(function() {
            var ata = { 
                Id: $("#serialId").val(), 
                Name: $("#Name").val(), 
                Description: $("#Description").val(), 
                GroupLimit: $("#GroupLimit").val(), 
                GroupLeft: $("#GroupLeft").val() 
                };
            
            
            $.ajax({
                type: 'POST',
                url: "/seminar/" + seminarId+"/topic",
                data: JSON.stringify(ata),
                contentType: "application/json:charset=utf-8",
                dataType:"json",
                success: function (data) {
                    alert("话题创建操作成功！");
                    window.history.go(-1);
                },
                //error: function (err) {
                //    alert(err)
                //}
            });
        });
        $("#reset").click(function () {
            
            $("#serialId").val("");
            $("#Name").val("");
            $("#Description").val("");
            $("#GroupLimit").val("");
            $("#GroupLeft").val("");
        });
       })
    </script>

    <div class="top">
        <div class="font">
            课堂管理系统
        </div>
        <div class="icon">
            <img src=".\home.png">首页
            <img src=".\help.png">帮助
            <img src=".\exit.png">退出
        </div>
        <div class="clear"></div>
    </div>
    <div class="body">
        <div class="navigation">
            <div class="courseName" id="courseName"></div>
            <div class="line"></div>
            <div class="courseIntroduction" id="courseIntroduction"></div>
        </div>
        <div class="content">
            <div class="block">
                <div class="title">创建话题</div>
                <div class="returnButton" id="returnbtn">返回上一页</div>
                <div class="line"></div>
                <div class="itemBody">
                    <div class="item">
                        <label class="itemName">编号*:</label>
                        <input type="text" id="serialId" class="middleInput">
                    </div>
                    <div class="item">
                        <label class="itemName">题目*:</label>
                        <input type="text" id="Name" class="middleInput">
                    </div>
                    <div class="item">
                        <label class="itemName">说明*:</label>
                        <!--<textarea id="courseinfo" cols="80" rows="5"></textarea>-->
                        <input type="text" id="Description" class="bigInput">
                    </div>
                    <div class="item">
                        <label class="itemName">组数限制*:</label>
                        <input type="text" id="GroupLimit" class="smallInput">
                    </div>
                    <div class="item">
                        <label class="itemName">组内人数上限*:</label>
                        <input type="text" id="GroupLeft" class="smallInput">
                    </div>
                    <div class="item">
                        <button  class="submit" id="post">提交</button>
                        <button  class="reset" id="reset">重置</button>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>

