<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>评分</title>
    <link rel="stylesheet" href="../../Content/Teacher/content.css">
    <style>
        table { 
        width: 100%; 
        border-collapse: collapse;
            }
        tr {  /* nth-of-type(odd)  */
        background: #eee;
        text-align: center;
        font-family: YouYuan;
        font-size: 18px;
            }
        th { 
        background-color: #D4EEF2;
        text-align: center;
        font-weight: bold;
            }
        td, th { 
        font-family: YouYuan;
        font-size: 18px;
        padding:20px; 
        /* border: 1px solid #ccc;  */
            }
    </style>
</head>
<body>
        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
            <img src="../image/home.png">首页
            <img src="../image/help.png">帮助
            <img src="../image/exit.png">退出
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName">OOAD</div>
                <div class="line"></div>
                <div class="courseIntroduction">OOAD（Object Oriented Analysis Design，面向对象的分析和设计，面向对象分析与设计）是现代软件企业广为采用的一项有效技术。OOAD方法要求在设计中要映射现实世界中指定问题域中的对象和实体，例如：顾客、汽车和销售人员等。这就需要设计要尽可能地接近现实世界，即以最自然的方式表述实体。所以面向对象技术的优点即为能够构建与现实世界相对应的问题模型，并保持他们的结构、关系和行为为模式。</div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">评分</div>
                    <div class="returnButton">返回上一页</div>
                    <div class="line"></div>
                    <div class="itemBody">
                        <table>
                            <tr>
                                <th>Topic</th>
                                <th>组名</th>
                                <th>组长</th>
                                <th>课堂讨论得分</th>
                                <th>报告提交情况</th>
                                <th>报告分数</th>
                                <th>总分</th>
                                <th>报告</th>            
                            <tr/>
                            <tr>
                                <td>A</td>
                                <td>1-A-1</td>
                                <td>小红</td>
                                <td>5</td>
                                <td>已提交</td>
                                <td>5</td>
                                <td>5</td>
                                <td>image*2</td>
                            <tr/>
                            <tr>
                                <td>A</td>
                                <td>1-A-1</td>
                                <td>小红</td>
                                <td>5</td>
                                <td>已提交</td>
                                <td>5</td>
                                <td>5</td>
                                <td>image*2</td>
                            <tr/>
                             <tr>
                                <td>A</td>
                                <td>1-A-1</td>
                                <td>小红</td>
                                <td>5</td>
                                <td>已提交</td>
                                <td>5</td>
                                <td>5</td>
                                <td>image*2</td>
                            <tr/>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
</body>
</html>