@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>教师主页</title>
    <link href="/css/Teacher/TeacherCourseHomePage.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="top">
        <div class="font">
            课堂管理系统
        </div>
        <div class="icon">
            <img src="/images/home.png"><a href="~/Teacher/BasicInfo">首页</a>
            <img src="/images/help.png"><a href="#">帮助</a>
            <img src="/images/exit.png"><a href="~/Home/AccountLogin">退出</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="body">
        <div class="navigation">
            <div class="title">导航</div>
            <div class="line"></div>
            <div class="courseIntroduction">
                <a class="guidefont" href="/Teacher/BasicInfo">基本信息</a>
                <a class="guidefont" href="#">课程信息</a>
                <a class="guidefont" href="/Teacher/CreateCourse">新建课程</a>
            </div>
        </div>
        <div class="content" id="mainContent">
            <div class="title">课程信息</div>
            <hr class="line" />
        <div class="clear"></div>
    </div>
        </div>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            //初始化
            $.ajax({
                type: 'GET',
                url: '/course',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    for (var i = 0; i < data.length; i++) {
                        $("#mainContent").append("<br/>");
                        $('#mainContent').append("<div class='main_box_right_content' onclick='detailedInfo(" + data[i].id + ")' id=" + data[i].id + ">"
                            + "<h3 class='classtitle'>" + data[i].name + "<button onclick='modify(event," + data[i].id+")'>修改课程</button><button onclick='deleteCourse(event," + data[i].id +")'>删除课程</button></h3><div class='divideline'></div><div class='classinfo'><table class='table'><tr><td class='tabletext'>班级数：<span>" + data[i].numClass + "</span></td>" +
                            "<td class='tabletext'> 学生人数：" + data[i].numStudent + "</td ></tr><tr><td class='tabletext'>开始时间：" + data[i].startTime + "</td><td class='tabletext'>结束时间:" + data[i].endTime + "</td></tr></table ></div ></div >");
                    }
                    $('#mainContent').append("<br/><div class='main_box_right_content' onclick='add()'><img class='addcourse' src= '/images/add.png' ></div ></div >");
                }
            });
        });
    </script>
    <script>
        //修改课程
        function modify(event,courseId)
        {
            event.stopPropagation();
            window.location.href = "/Teacher/ModifyCourse?courseId=" + courseId;
        }

        //删除课程
        function deleteCourse(event,courseId)
        {
            event.stopPropagation();
            $.ajax({
                type: 'DELETE',
                url: "/course/"+courseId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    //在页面上删除
                    if (confirm("确定删除吗？")) {
                        var block = "#" + courseId;
                        $(block).hide();
                    }
                }
            });
        }

        function detailedInfo(courseId) {
            window.location.href = "/Teacher/TeacherCourseInformation?courseId=" + courseId;
        }

        function add()
        {
            window.location.href = "/Teacher/CreateCourse";
        }
    </script>
</body>
</html>