@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>教师主页</title>
    <link href="/css/Teacher/TeacherCourseHomePage.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="top">
        <div class="font">
            课堂管理系统
        </div>
        <div class="icon">
            <img src="/images/home.png">首页
            <img src="/images/help.png">帮助
            <img src="/images/exit.png">退出
        </div>
        <div class="clear"></div>
    </div>
    <div class="body">
        <div class="navigation">
            <div class="title">导航</div>
            <div class="line"></div>
            <div class="courseIntroduction">
                <a class="guidefont" href="/Teacher/BasicInfo">基本信息</a>
                <a class="guidefont" href="#">课程信息</a>
                <a class="guidefont" href="/Teacher/CreateCourse">新建课程</a>
            </div>
        </div>
        <div class="content" id="mainContent">
            <div class="title">课程信息</div>
            <hr class="line" />
        <div class="clear"></div>  @*???*@
    </div>
        </div>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            //初始化
            $.ajax({
                type: 'GET',
                url: '/course',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    for (var i = 0; i < data.length; i++) {
                        $('#mainContent').append("<div class='main_box_right_content' id='table" + data[i].id + "'></div></br>");
                        $('#table' + data[i].id).append("<h3 class='classtitle'>" + data[i].name + "<button id='" + data[i].id + "' onclick='modify(this.id)'>修改课程</button><button class='" + data[i].id +"' onclick='deleteCourse(this.id)'>删除课程</button></h3><div class='divideline'></div><div class='classinfo'><table class='table'><tr><td class='tabletext'>班级数：<span>" + data[i].numClass + "</span></td>" +
                            "<td class='tabletext'> 学生人数：" + data[i].numStudent + "</td ></tr><tr><td class='tabletext'>开始时间：" + data[i].startTime + "</td><td class='tabletext'>结束时间:" + data[i].endTime + "</td></tr></table ></div ></div >");
                    }
                    $('#mainContent').append("<div class='main_box_right_content'><img class='addcourse' src= '/images/add.png' ></div ></div >");
                }
            });
        });
    </script>
    <script>
        //修改课程
        function modify(courseId)
        {
            //var
            $.ajax({
                type: 'PUT',
                url: "/course/"+courseId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(courseInfo),
                success: function (data, status) {
                    for (var i = 0; i < data.length; i++) {
                        $('#mainContent').append("<div class='main_box_right_content' id='table" + data[i].id + "'></div></br>");
                        $('#table' + data[i].id).append("<h3 class='classtitle'>" + data[i].name + "<button id='" + data[i].id + "'>修改课程</button><button class='" + data[i].id + "'>删除课程</button></h3><div class='divideline'></div><div class='classinfo'><table class='table'><tr><td class='tabletext'>班级数：<span>" + data[i].numClass + "</span></td>" +
                            "< td class='tabletext' > 学生人数：" + numStudent + "</td ></tr ><tr><td class='tabletext'>开始时间：" + data[i].startTime + "</td><td class='tabletext'>结束时间:" + data[i].endTime + "</td></tr></table ></div ></div >");
                    }
                    $('#mainContent').append("<div class='main_box_right_content'>< img class='addcourse' src= '/images/add.png' ></div ></div >");
                }
            });

        }

        //删除课程
        function deleteCourse(courseId)
        {
            $.ajax({
                type: 'DELETE',
                url: "/course/"+courseId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(courseInfo),
                success: function (data, status) {
                    alert(data[i].numClass);
                    for (var i = 0; i < data.length; i++) {
                        $('#mainContent').append("<div class='main_box_right_content' id='table" + data[i].id + "'></div></br>");
                        $('#table' + data[i].id).append("<h3 class='classtitle'>" + data[i].name + "<button id='" + data[i].id + "'>修改课程</button><button class='" + data[i].id + "'>删除课程</button></h3><div class='divideline'></div><div class='classinfo'><table class='table'><tr><td class='tabletext'>班级数：<span>" + data[i].numClass + "</span></td>" +
                            "< td class='tabletext' > 学生人数：" + numStudent + "</td ></tr ><tr><td class='tabletext'>开始时间：" + data[i].startTime + "</td><td class='tabletext'>结束时间:" + data[i].endTime + "</td></tr></table ></div ></div >");
                    }
                    $('#mainContent').append("<div class='main_box_right_content'>< img class='addcourse' src= '/images/add.png' ></div ></div >");
                }
            });

        }
    </script>
</body>
</html>