@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>教师打分主页</title>
    <link rel="stylesheet" href="/css/Common/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Teacher/content.css">
</head>
<body>
    <div class="top">
        <div class="font">
            课堂管理系统
        </div>
        <div class="icon">
            <img src="~/images/home.png">首页
            <img src="~/images/help.png">帮助
            <img src="~/images/exit.png">退出
        </div>
        <div class="clear"></div>
    </div>
    <div class="body">
        <div class="navigation">
            <div class="courseName">OOAD</div>
            <div class="line"></div>
            <div class="courseIntroduction">ooad is xxx</div>
        </div>
        <div class="content">
            <div class="contentBlock">
                <div class="title">评分</div>
                <div class="returnButton" onclick="javascript:window.history.back()">返回上一页</div>
                <div class="line"></div>
                <div class="itemBody">
                    <table class="table table-striped">
                        <thead class="tableTitle">
                            <tr>
                                <th>Topic</th>
                                <th>组名</th>
                                <th>组长</th>
                                <th>课堂讨论得分</th>
                                <th>报告提交情况</th>
                                <th>报告分数</th>
                                <th>总分</th>
                                <th>报告</th>
                            </tr>
                        </thead>
                        <tbody class="tableContent" id="tableBody">
                            

                            <tr>
                                <td>A</td>
                                <td>Bangalore</td>
                                <td>xxx</td>
                                <td>5</td>
                                <td>已提交</td>
                                <td>5</td>
                                <td>5</td>
                                <td>
                                    <img src="../../Img/view.png" alt="预览">
                                    <img src="../../Img/download.png" alt="下载">
                                </td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>Bangalore</td>
                                <td>xxx</td>
                                <td>5</td>
                                <td>已提交</td>
                                <td>5</td>
                                <td>5</td>
                                <td>
                                    <a href="/Teacher/TeacherScoreReportPage?groupId=" style="text-decoration:none;">
                                        <img src="~/images/view.png" alt="预览">
                                    </a>
                                    <img src="~/images/download.png" alt="下载">
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                 type: "GET",
                 url: "/seminar/{seminarId}/group",
                 contentType: "application/json;charset=utf-8",
                 dataType: "json",
                 success: function (data, status)  //发两次请求???
                 {
                     for (var i = 0; i < data.length; i++)
                     {
                         for (var t = 0; t < data[i].topics.length; t++) {
                             $("#tableBody").append(" <tr >< td >'+data[i].topics[t].serial+'</td>");
                             $("#tableBody").append(" <td>'+data[i].name+'</td> < td > '+data[i].leader.name+'</td > <td>'+data[i].grade.presentationGrade[t]+'</td>");
                             if (!data[i].report) {
                                 $("#tableBody").append(" <td>未提交</td>");
                             }
                             else {
                                 $("#tableBody").append(" <td>已提交</td>");
                             }
                             $("#tableBody").append(" <td>'+data[i].grade.reportGrade+'</td> <td>'+data[i].grade.grade+'</td>");
                             var ur = "/Teacher/TeacherScoreReportPage?groupId=" + data[i].id;
                             $("#tableBody").append(" <td> <a href='+ur+' style='text- decoration:none;'>< img src= '~/images/view.png' alt= '预览' ></a> <a href='+data[i].report+' text- decoration:none;'> <img src='~/images/download.png' alt='下载'></a> </td>");
                             $("#tableBody").append(" </tr>");
                         }
                     }
                 }
           });
       });
    </script>
    <script>
        //返回上一页操作
    </script>
</body>
</html>