@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生查看讨论课（固定）</title>
    <link rel="stylesheet" href="@Url.Content("~/css/Student/content.css")" type="text/css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    
    <script>
        
        $(document).ready(function () {
            var str = window.location.href.split("=")[1];//当前讨论课号

            //随机分组 显示自己小组信息
            var addgroupInfo = function (a) {

                $.ajax({
                    type: 'GET',
                    url: '/seminar/' + a + '/group/my',
                    contentType: "application/json;charset=utf-8",
                    success: function (data, status) {

                        $('#groupmember').append("<div class='line'></div>");
                        $('#groupmember').append("<label class='itemName'>选择话题：</label>");
                        $('#groupmember').append("<label class='itemName'>" + data.topics[0].serial + "</label><br/>");
                        $('#groupmember').append("<label class='itemName'>组号：</label>");
                        $('#groupmember').append("<label class='itemName'>" + data.id + "</label><br/>");
                        $('#groupmember').append("<label class='itemName'>组长：</label>");
                        $('#groupmember').append("<label class='itemName'>" + data.leader.name + "</label><br/>");
                        $('#groupmember').append("<label class='itemName'>组员：</label>");
                        for (var i = 0; i < data.members.length; i++)
                            $('#groupmember').append("<label class='itemName'>" + data.members[i].name + "</label><br/>");
                    }
                })
            }

            //获取当前讨论课所有的话题数 显示话题按钮
            var addtopicButton = function (a) {
                
                $.ajax({
                    type: 'GET',
                    url: '/seminar/' + a + '/topic',
                    contentType: "application/json;charset=utf-8",
                    success: function (data, status) {
                        for (var i = 0; i < data.length; i++)
                            $('#topicButton').append("<div class='smallblock'><div class='blockFont'>话题" + data[i].serial + "</div></div >");
              
                    }
                })
            }



            //初始化
            $.ajax({
                type: 'GET',
                url: '/seminar/' + str,
                contentType: "application/json;charset=utf-8",
                success: function (data, status) {

                    //显示讨论课信息
                    $('#Group').text(data.groupingMethod);
                    $('#starttime').text(data.startTime);
                    $('#endtime').text(data.endTime);
                    //显示话题
                    addtopicButton(str);
                    //显示小组信息
                    if (data.groupingMethod != "fixed") {
                        addgroupInfo(str);
                    }
                }
            });
        })

    </script>
</head>
<body>

    <div class="top">
        <div class="font">
            课堂管理系统
        </div>
        <div class="icon">
            <img src=".\home.png">首页
            <img src=".\help.png">帮助
            <img src=".\exit.png">退出
        </div>
        <div class="clear"></div>
    </div>
    <div class="body">
        <div class="navigation">
            <div class="courseName">OOAD</div>
            <div class="line"></div>
            <div class="courseIntroduction">ooad is xxx</div>
        </div>
        <div class="content">
            <div class="block">
                <div class="title">讨论课1</div>
                <div class="returnButton">返回上一页</div>
                <div class="line"></div>
                <div class="itemBody">
                    <div class="item">
                        <label class="itemName">本节讨论课的主要内容针对第一二章</label>
                        <div class="line"></div>
                    </div>
                    <div class="item">
                        <label class="itemName">分组方式：</label>
                        <label class="itemName" id="Group"></label><br />
                        <label class="itemName">开始时间：</label>
                        <label class="itemName" id="starttime"></label><br />
                        <label class="itemName">结束时间：</label>
                        <label class="itemName" id="endtime"></label>
                    </div>
                    <div class="item"></div>
                    <div class="item" id="groupmember">
                    </div>
                 </div>
            </div>
            <div class="block">
                <div class="title">话题</div>
                <div class="line"></div>
                <div class="blockBody" id="topicButton">
                    
                </div>
                <div class="item">
                    <button class="uploadbutton">上传报告</button>
                </div>
                <div class="item">
                    <button class="viewscorebutton">查看分数</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>